<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet adipiscing consectutur elit.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Like</button>
    <button mat-raised-button color="accent">Share</button>
    <button mat-raised-button color="warn">Careful</button>
  </mat-card-actions>
</mat-card>
